.banner {
  background-image: url("../../../public/assets/cover.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92.2vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.homepage-outer {
  background-color: #e4e6e6;
  padding-bottom: 30px;
}

.homepage-second-section {
  position: relative;
  margin-top: -280px;
  z-index: 11;
}

.image-slider>div>div>button {
  top: 20% !important;
}

.banner>h1 {
  margin: 5vmax;

  font: 600 2.5vmax "Roboto";
}

.banner>p {
  font: 300 1.4vmax "Lucida Sans";
}

.banner>a>button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}

.banner>a>button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  min-width: 18vmax;
  max-width: 18vmax;
  display: flex;
  max-height: 400px;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 1vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
}

.productCard>span>img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

.product-card-image {
  padding: 1vmax 1.5vmax;
  background-color: #f7f8f8;
  border-radius: 12px 12px 0 0;
}

.productCard>div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard>p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  font-weight: 500;
  margin: 1vmax 0.8vmax;
  margin-bottom: 0;
}

.price-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-button>button {
  margin-left: auto;
  margin-right: 10px;
  border-radius: 10px;
  padding: 6px 8px;
  border: none;
  outline: none;
  background-color: #7e9e56;
  color: white;
  font-weight: 500;
}

.price-button>span {
  margin: 0.5vmax;
  color: #151515;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

.featured-product-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 15px;
  margin: 0 20px;
  background-color: white;
}

.featured-product-container>h1 {
  font-size: 26px;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.featured-products {
  display: flex;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .productCard>p {
    font-size: 1.7vmax;
  }

  .productCard>div {
    margin: 0vmax;
    display: block;
  }

  .productCard>span {
    font-size: 1.5vmax;
  }

  .productCard>div>span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}